{
  "openapi": "3.0.3",
  "info": {
    "title": "Forgebound API",
    "description": "A fantasy RPG played entirely through REST API calls. Create characters, explore a vast world, fight monsters, delve into dungeons, and complete quests — all via HTTP requests.\n\n## Authentication\nMost endpoints require a Bearer token obtained from the login endpoint. Include it in the `Authorization` header:\n```\nAuthorization: Bearer <your-token>\n```\n\n## Rate Limiting\nAll endpoints are rate-limited. Public endpoints allow 60 requests per minute. Gameplay endpoints share a similar limit. Authentication endpoints have stricter limits.\n\n## Base URL\n`https://forgebound.io/api`",
    "version": "0.8.0",
    "contact": {
      "name": "Forgebound",
      "url": "https://forgebound.io"
    }
  },
  "servers": [
    {
      "url": "https://forgebound.io/api",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000/api",
      "description": "Local development"
    }
  ],
  "tags": [
    { "name": "Auth", "description": "Registration, login, and profile" },
    { "name": "Characters", "description": "Character creation and management" },
    { "name": "Travel", "description": "World movement and pathfinding" },
    { "name": "Map", "description": "World map, regions, and cell data" },
    { "name": "Combat", "description": "Turn-based combat with status effects" },
    { "name": "Inventory", "description": "Items, equipment, and consumables" },
    { "name": "Spells", "description": "Spellbook, learning, and casting" },
    { "name": "Rest", "description": "Camping and inn resting" },
    { "name": "Shops", "description": "Town shop inventory, buying, and selling" },
    { "name": "Quests", "description": "Quest discovery, tracking, and completion" },
    { "name": "Dungeons", "description": "Multi-room instanced dungeons" },
    { "name": "Gathering", "description": "Resource gathering with Mining, Herbalism, and Woodcutting skills" },
    { "name": "Game Data", "description": "Public reference data (races, classes, items, spells)" }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Supabase JWT token from the login endpoint"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "statusCode": { "type": "integer" },
          "message": { "type": "string" },
          "error": { "type": "string" }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": { "type": "string", "format": "email" },
          "password": { "type": "string", "minLength": 8, "maxLength": 128 }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": { "type": "string", "format": "email" },
          "password": { "type": "string" }
        }
      },
      "RegisterResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "email": { "type": "string", "format": "email" },
          "message": { "type": "string", "example": "Account created. Please check your email and confirm your address before logging in." }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "accessToken": { "type": "string" },
          "refreshToken": { "type": "string" },
          "expiresIn": { "type": "integer", "description": "Token lifetime in seconds" },
          "user": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "format": "uuid" },
              "email": { "type": "string", "format": "email" }
            }
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "email": { "type": "string", "format": "email" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "CreateCharacterRequest": {
        "type": "object",
        "required": ["name", "raceId", "classId", "strength", "dexterity", "constitution", "intelligence", "wisdom", "charisma"],
        "properties": {
          "name": { "type": "string", "minLength": 2, "maxLength": 30, "pattern": "^[a-zA-Z0-9 ]+$", "example": "Aldric the Bold" },
          "raceId": { "type": "string", "enum": ["human", "elf", "dwarf", "halfling", "orc"], "example": "human" },
          "classId": { "type": "string", "enum": ["warrior", "mage", "rogue", "cleric", "ranger"], "example": "warrior" },
          "strength": { "type": "integer", "minimum": 8, "maximum": 15 },
          "dexterity": { "type": "integer", "minimum": 8, "maximum": 15 },
          "constitution": { "type": "integer", "minimum": 8, "maximum": 15 },
          "intelligence": { "type": "integer", "minimum": 8, "maximum": 15 },
          "wisdom": { "type": "integer", "minimum": 8, "maximum": 15 },
          "charisma": { "type": "integer", "minimum": 8, "maximum": 15 }
        }
      },
      "AllocateStatRequest": {
        "type": "object",
        "required": ["stat"],
        "properties": {
          "stat": { "type": "string", "enum": ["strength", "dexterity", "constitution", "intelligence", "wisdom", "charisma"] }
        }
      },
      "Coordinate": {
        "type": "object",
        "properties": {
          "x": { "type": "integer" },
          "y": { "type": "integer" }
        }
      },
      "EquipmentSlotItem": {
        "type": "object",
        "nullable": true,
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "type": { "type": "string" },
          "rarity": { "type": "string" }
        }
      },
      "LevelUp": {
        "type": "object",
        "properties": {
          "newLevel": { "type": "integer" },
          "hpGained": { "type": "integer" },
          "manaGained": { "type": "integer" },
          "newSpells": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" },
                "manaCost": { "type": "integer" }
              }
            }
          },
          "statPointsGained": { "type": "integer" }
        }
      },
      "Discovery": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "type": { "type": "string" },
          "category": { "type": "string" },
          "x": { "type": "integer" },
          "y": { "type": "integer" },
          "terrain": { "type": "string" },
          "description": { "type": "string" },
          "level_min": { "type": "integer" },
          "level_max": { "type": "integer" },
          "discoveredAt": { "type": "string", "format": "date-time", "description": "Present on player discoveries" }
        }
      },
      "TravelXp": {
        "type": "object",
        "properties": {
          "xpGained": { "type": "integer" },
          "totalXp": { "type": "integer" },
          "levelUp": { "$ref": "#/components/schemas/LevelUp" }
        }
      },
      "TravelEncounter": {
        "type": "object",
        "properties": {
          "monsterId": { "type": "string" },
          "monsterName": { "type": "string" },
          "monsterLevel": { "type": "integer" },
          "monsterHp": { "type": "integer" },
          "monsterMaxHp": { "type": "integer" },
          "monsterType": { "type": "string" },
          "source": { "type": "string" }
        }
      },
      "CharacterCreated": {
        "type": "object",
        "description": "Raw character row returned on creation",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "user_id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "race_id": { "type": "string" },
          "class_id": { "type": "string" },
          "level": { "type": "integer" },
          "xp": { "type": "integer" },
          "hp": { "type": "integer" },
          "max_hp": { "type": "integer" },
          "mana": { "type": "integer" },
          "max_mana": { "type": "integer" },
          "ac": { "type": "integer" },
          "gold": { "type": "integer" },
          "strength": { "type": "integer" },
          "dexterity": { "type": "integer" },
          "constitution": { "type": "integer" },
          "intelligence": { "type": "integer" },
          "wisdom": { "type": "integer" },
          "charisma": { "type": "integer" },
          "pos_x": { "type": "integer" },
          "pos_y": { "type": "integer" },
          "race": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "name": { "type": "string" }
            }
          },
          "class": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "name": { "type": "string" }
            }
          }
        }
      },
      "Character": {
        "type": "object",
        "description": "Full character state returned by GET /characters/me",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "race": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "name": { "type": "string" }
            }
          },
          "class": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "name": { "type": "string" }
            }
          },
          "level": { "type": "integer" },
          "xp": { "type": "integer" },
          "xpToNextLevel": { "type": "integer" },
          "unspentStatPoints": { "type": "integer" },
          "hp": { "type": "integer" },
          "maxHp": { "type": "integer" },
          "ac": { "type": "integer" },
          "strength": { "type": "integer" },
          "dexterity": { "type": "integer" },
          "constitution": { "type": "integer" },
          "intelligence": { "type": "integer" },
          "wisdom": { "type": "integer" },
          "charisma": { "type": "integer" },
          "mana": { "type": "integer" },
          "maxMana": { "type": "integer" },
          "gold": { "type": "integer" },
          "position": { "$ref": "#/components/schemas/Coordinate" },
          "inCombat": { "type": "boolean" },
          "inDungeon": { "type": "boolean" },
          "createdAt": { "type": "string", "format": "date-time" },
          "effectiveStats": {
            "type": "object",
            "description": "Stats after equipment bonuses",
            "properties": {
              "strength": { "type": "integer" },
              "dexterity": { "type": "integer" },
              "constitution": { "type": "integer" },
              "intelligence": { "type": "integer" },
              "wisdom": { "type": "integer" },
              "charisma": { "type": "integer" },
              "maxHp": { "type": "integer" },
              "ac": { "type": "integer" }
            }
          },
          "equipment": {
            "type": "object",
            "properties": {
              "weapon": { "$ref": "#/components/schemas/EquipmentSlotItem" },
              "armor": { "$ref": "#/components/schemas/EquipmentSlotItem" },
              "helmet": { "$ref": "#/components/schemas/EquipmentSlotItem" },
              "shield": { "$ref": "#/components/schemas/EquipmentSlotItem" },
              "leggings": { "$ref": "#/components/schemas/EquipmentSlotItem" },
              "boots": { "$ref": "#/components/schemas/EquipmentSlotItem" },
              "gloves": { "$ref": "#/components/schemas/EquipmentSlotItem" },
              "ring1": { "$ref": "#/components/schemas/EquipmentSlotItem" },
              "ring2": { "$ref": "#/components/schemas/EquipmentSlotItem" },
              "amulet": { "$ref": "#/components/schemas/EquipmentSlotItem" }
            }
          },
          "spells": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" },
                "school": { "type": "string" },
                "spellLevel": { "type": "integer" },
                "manaCost": { "type": "integer" }
              }
            }
          },
          "carryCapacity": { "type": "number" },
          "travel": {
            "type": "object",
            "properties": {
              "isTraveling": { "type": "boolean" },
              "position": { "$ref": "#/components/schemas/Coordinate" },
              "estimatedCurrent": { "$ref": "#/components/schemas/Coordinate" },
              "destination": { "$ref": "#/components/schemas/Coordinate" },
              "path": { "type": "array", "items": { "$ref": "#/components/schemas/Coordinate" } },
              "progressIndex": { "type": "integer" },
              "totalCells": { "type": "integer" },
              "startedAt": { "type": "string", "format": "date-time" },
              "eta": { "type": "string", "format": "date-time" }
            }
          },
          "discoveries": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Discovery" }
          },
          "xp_extra": {
            "description": "Present if XP was gained during travel resolution",
            "$ref": "#/components/schemas/TravelXp"
          },
          "encounter": {
            "description": "Present if a combat encounter was triggered",
            "$ref": "#/components/schemas/TravelEncounter"
          }
        }
      },
      "AllocateStatResponse": {
        "type": "object",
        "properties": {
          "allocated": { "type": "string", "description": "The stat that was increased" },
          "newValue": { "type": "integer", "description": "New value of the stat" },
          "unspentStatPoints": { "type": "integer" },
          "message": { "type": "string" },
          "maxHp": { "type": "integer", "description": "Present if constitution was allocated" },
          "hp": { "type": "integer", "description": "Present if constitution was allocated" },
          "maxMana": { "type": "integer", "description": "Present if intelligence was allocated" },
          "mana": { "type": "integer", "description": "Present if intelligence was allocated" }
        }
      },
      "MoveRequest": {
        "type": "object",
        "required": ["direction"],
        "properties": {
          "direction": { "type": "string", "enum": ["north", "south", "east", "west"] }
        }
      },
      "MoveResponse": {
        "type": "object",
        "properties": {
          "direction": { "type": "string" },
          "from": { "$ref": "#/components/schemas/Coordinate" },
          "destination": { "$ref": "#/components/schemas/Coordinate" },
          "terrain": { "type": "string" },
          "travelSeconds": { "type": "number" },
          "startedAt": { "type": "string", "format": "date-time" },
          "eta": { "type": "string", "format": "date-time" }
        }
      },
      "TravelRequest": {
        "type": "object",
        "required": ["x", "y"],
        "properties": {
          "x": { "type": "integer", "minimum": 0, "maximum": 99 },
          "y": { "type": "integer", "minimum": 0, "maximum": 99 }
        }
      },
      "TravelGoResponse": {
        "type": "object",
        "properties": {
          "from": { "$ref": "#/components/schemas/Coordinate" },
          "destination": { "$ref": "#/components/schemas/Coordinate" },
          "path": { "type": "array", "items": { "$ref": "#/components/schemas/Coordinate" } },
          "totalCells": { "type": "integer" },
          "travelSeconds": { "type": "number" },
          "startedAt": { "type": "string", "format": "date-time" },
          "eta": { "type": "string", "format": "date-time" }
        }
      },
      "TravelStatus": {
        "type": "object",
        "properties": {
          "isTraveling": { "type": "boolean" },
          "position": { "$ref": "#/components/schemas/Coordinate" },
          "estimatedCurrent": { "$ref": "#/components/schemas/Coordinate", "description": "Present while traveling" },
          "destination": { "$ref": "#/components/schemas/Coordinate", "description": "Present while traveling" },
          "path": { "type": "array", "items": { "$ref": "#/components/schemas/Coordinate" }, "description": "Present while traveling" },
          "progressIndex": { "type": "integer", "description": "Present while traveling" },
          "totalCells": { "type": "integer", "description": "Present while traveling" },
          "startedAt": { "type": "string", "format": "date-time", "description": "Present while traveling" },
          "eta": { "type": "string", "format": "date-time", "description": "Present while traveling" },
          "discoveries": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Discovery" },
            "description": "POIs discovered during completed travel"
          },
          "xp": {
            "$ref": "#/components/schemas/TravelXp",
            "description": "Present if XP was gained from travel"
          },
          "encounter": {
            "$ref": "#/components/schemas/TravelEncounter",
            "description": "Present if a combat encounter was triggered"
          }
        }
      },
      "TravelCancelResponse": {
        "type": "object",
        "properties": {
          "cancelled": { "type": "boolean" },
          "position": { "$ref": "#/components/schemas/Coordinate" },
          "cellsTraversed": { "type": "integer" },
          "discoveries": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Discovery" }
          },
          "xp": { "$ref": "#/components/schemas/TravelXp" }
        }
      },
      "CombatActionRequest": {
        "type": "object",
        "required": ["action"],
        "properties": {
          "action": { "type": "string", "enum": ["attack", "cast", "use_item", "flee"] },
          "spellId": { "type": "string", "description": "Required when action is 'cast'" },
          "itemId": { "type": "string", "description": "Required when action is 'use_item'" }
        }
      },
      "StatusEffect": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["poison", "bleed", "stun", "burn", "weakness", "shield", "freeze", "regen", "blind", "silence", "curse", "enrage"] },
          "duration": { "type": "integer", "description": "Remaining turns" },
          "value": { "type": "number", "description": "Effect magnitude" },
          "source": { "type": "string", "description": "Name of the spell, weapon, or ability that applied this" }
        }
      },
      "CombatStatus": {
        "type": "object",
        "description": "Returns { inCombat: false } when not in combat, or full combat state when fighting",
        "properties": {
          "inCombat": { "type": "boolean" },
          "turn": { "type": "integer" },
          "source": { "type": "string", "enum": ["random", "poi", "dungeon"] },
          "monster": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "name": { "type": "string" },
              "level": { "type": "integer" },
              "hp": { "type": "integer" },
              "maxHp": { "type": "integer" },
              "ac": { "type": "integer" },
              "type": { "type": "string" },
              "effects": { "type": "array", "items": { "$ref": "#/components/schemas/StatusEffect" } }
            }
          },
          "player": {
            "type": "object",
            "properties": {
              "hp": { "type": "integer" },
              "maxHp": { "type": "integer" },
              "mana": { "type": "integer" },
              "maxMana": { "type": "integer" },
              "ac": { "type": "integer" },
              "effects": { "type": "array", "items": { "$ref": "#/components/schemas/StatusEffect" } }
            }
          },
          "log": { "type": "array", "items": { "type": "string" } }
        }
      },
      "CombatResult": {
        "type": "object",
        "description": "Result varies by outcome. Ongoing: monster + player state. Victory: xp, gold, items, optional levelUp. Defeat: goldLost, xpLost, message. Fled: player state.",
        "properties": {
          "outcome": { "type": "string", "enum": ["ongoing", "victory", "defeat", "fled"] },
          "turn": { "type": "integer" },
          "log": { "type": "array", "items": { "type": "string" } },
          "monster": {
            "type": "object",
            "description": "Present on ongoing outcome",
            "properties": {
              "name": { "type": "string" },
              "hp": { "type": "integer" },
              "maxHp": { "type": "integer" },
              "effects": { "type": "array", "items": { "$ref": "#/components/schemas/StatusEffect" } }
            }
          },
          "player": {
            "type": "object",
            "description": "Present on ongoing, victory, and fled outcomes",
            "properties": {
              "hp": { "type": "integer" },
              "maxHp": { "type": "integer" },
              "mana": { "type": "integer" },
              "maxMana": { "type": "integer" },
              "effects": { "type": "array", "items": { "$ref": "#/components/schemas/StatusEffect" } }
            }
          },
          "xp": { "type": "integer", "description": "XP gained (victory)" },
          "gold": { "type": "integer", "description": "Gold gained (victory)" },
          "items": {
            "type": "array",
            "description": "Loot dropped (victory)",
            "items": {
              "type": "object",
              "properties": {
                "itemId": { "type": "string" },
                "quantity": { "type": "integer" }
              }
            }
          },
          "levelUp": {
            "$ref": "#/components/schemas/LevelUp",
            "description": "Present on victory if character leveled up"
          },
          "goldLost": { "type": "integer", "description": "Gold penalty (defeat)" },
          "xpLost": { "type": "integer", "description": "XP penalty (defeat)" },
          "hp": { "type": "integer", "description": "HP after defeat" },
          "message": { "type": "string", "description": "Status message (defeat)" }
        }
      },
      "InventoryResponse": {
        "type": "object",
        "properties": {
          "equipment": {
            "type": "object",
            "properties": {
              "weapon": { "$ref": "#/components/schemas/EquipmentSlotItem" },
              "armor": { "$ref": "#/components/schemas/EquipmentSlotItem" },
              "helmet": { "$ref": "#/components/schemas/EquipmentSlotItem" },
              "shield": { "$ref": "#/components/schemas/EquipmentSlotItem" },
              "leggings": { "$ref": "#/components/schemas/EquipmentSlotItem" },
              "boots": { "$ref": "#/components/schemas/EquipmentSlotItem" },
              "gloves": { "$ref": "#/components/schemas/EquipmentSlotItem" },
              "ring1": { "$ref": "#/components/schemas/EquipmentSlotItem" },
              "ring2": { "$ref": "#/components/schemas/EquipmentSlotItem" },
              "amulet": { "$ref": "#/components/schemas/EquipmentSlotItem" }
            }
          },
          "backpack": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" },
                "type": { "type": "string" },
                "rarity": { "type": "string" },
                "quantity": { "type": "integer" },
                "weight": { "type": "number" },
                "levelRequired": { "type": "integer" },
                "classRestriction": { "type": "string", "nullable": true }
              }
            }
          },
          "carryWeight": { "type": "number" },
          "carryCapacity": { "type": "number" }
        }
      },
      "PickUpItemRequest": {
        "type": "object",
        "required": ["itemId"],
        "properties": {
          "itemId": { "type": "string" },
          "quantity": { "type": "integer", "minimum": 1, "maximum": 99, "default": 1 }
        }
      },
      "PickUpItemResponse": {
        "type": "object",
        "properties": {
          "pickedUp": { "type": "string" },
          "quantity": { "type": "integer" },
          "message": { "type": "string" }
        }
      },
      "DropItemRequest": {
        "type": "object",
        "required": ["itemId"],
        "properties": {
          "itemId": { "type": "string" },
          "quantity": { "type": "integer", "minimum": 1, "maximum": 99, "default": 1 }
        }
      },
      "DropItemResponse": {
        "type": "object",
        "properties": {
          "dropped": { "type": "string" },
          "quantity": { "type": "integer" },
          "message": { "type": "string" }
        }
      },
      "EquipItemRequest": {
        "type": "object",
        "required": ["itemId"],
        "properties": {
          "itemId": { "type": "string" },
          "slot": { "type": "string", "enum": ["weapon", "armor", "helmet", "shield", "leggings", "boots", "gloves", "ring1", "ring2", "amulet"], "description": "Optional; auto-detected from item type if omitted" }
        }
      },
      "EquipItemResponse": {
        "type": "object",
        "properties": {
          "equipped": {
            "type": "object",
            "properties": {
              "slot": { "type": "string" },
              "item": {
                "type": "object",
                "properties": {
                  "id": { "type": "string" },
                  "name": { "type": "string" },
                  "type": { "type": "string" },
                  "rarity": { "type": "string" }
                }
              }
            }
          },
          "unequipped": {
            "type": "object",
            "nullable": true,
            "description": "Present if an item was swapped out of the slot",
            "properties": {
              "slot": { "type": "string" },
              "item": {
                "type": "object",
                "properties": {
                  "id": { "type": "string" },
                  "name": { "type": "string" },
                  "type": { "type": "string" },
                  "rarity": { "type": "string" }
                }
              }
            }
          },
          "message": { "type": "string" }
        }
      },
      "UnequipItemRequest": {
        "type": "object",
        "required": ["slot"],
        "properties": {
          "slot": { "type": "string", "enum": ["weapon", "armor", "helmet", "shield", "leggings", "boots", "gloves", "ring1", "ring2", "amulet"] }
        }
      },
      "UnequipItemResponse": {
        "type": "object",
        "properties": {
          "unequipped": {
            "type": "object",
            "properties": {
              "slot": { "type": "string" },
              "item": {
                "type": "object",
                "properties": {
                  "id": { "type": "string" },
                  "name": { "type": "string" },
                  "type": { "type": "string" },
                  "rarity": { "type": "string" }
                }
              }
            }
          },
          "message": { "type": "string" }
        }
      },
      "UseItemRequest": {
        "type": "object",
        "required": ["itemId"],
        "properties": {
          "itemId": { "type": "string" }
        }
      },
      "UseItemResponse": {
        "type": "object",
        "properties": {
          "used": { "type": "string" },
          "message": { "type": "string" },
          "effect": {
            "type": "object",
            "properties": {
              "type": { "type": "string" },
              "value": { "type": "number" }
            }
          },
          "result": { "type": "string" },
          "hp": { "type": "integer", "description": "Present for heal effects" },
          "maxHp": { "type": "integer", "description": "Present for max HP boost effects" },
          "mana": { "type": "integer", "description": "Present for mana restore effects" },
          "maxMana": { "type": "integer", "description": "Present for max mana boost effects" },
          "learned": { "type": "string", "description": "Present for learn_spell effects" }
        }
      },
      "SpellbookResponse": {
        "type": "object",
        "properties": {
          "mana": { "type": "integer" },
          "maxMana": { "type": "integer" },
          "spells": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" },
                "school": { "type": "string" },
                "spell_level": { "type": "integer" },
                "mana_cost": { "type": "integer" }
              }
            }
          }
        }
      },
      "LearnSpellRequest": {
        "type": "object",
        "required": ["spellId"],
        "properties": {
          "spellId": { "type": "string" }
        }
      },
      "LearnSpellResponse": {
        "type": "object",
        "properties": {
          "learned": { "type": "string" },
          "message": { "type": "string" },
          "spell": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "name": { "type": "string" },
              "school": { "type": "string" },
              "spell_level": { "type": "integer" },
              "mana_cost": { "type": "integer" }
            }
          }
        }
      },
      "CastSpellRequest": {
        "type": "object",
        "required": ["spellId"],
        "properties": {
          "spellId": { "type": "string" }
        }
      },
      "CastSpellResponse": {
        "type": "object",
        "properties": {
          "cast": { "type": "string" },
          "manaCost": { "type": "integer" },
          "effect": {
            "type": "object",
            "properties": {
              "type": { "type": "string" },
              "value": { "type": "number" }
            }
          },
          "result": { "type": "string" }
        }
      },
      "StartCampRequest": {
        "type": "object",
        "properties": {
          "duration": { "type": "integer", "minimum": 10, "maximum": 600, "description": "Camp duration in seconds (default varies)" }
        }
      },
      "StartCampResponse": {
        "type": "object",
        "properties": {
          "resting": { "type": "boolean", "example": true },
          "type": { "type": "string", "example": "camp" },
          "durationSeconds": { "type": "integer" },
          "startedAt": { "type": "string", "format": "date-time" },
          "until": { "type": "string", "format": "date-time" },
          "position": { "$ref": "#/components/schemas/Coordinate" },
          "willRecover": {
            "type": "object",
            "properties": {
              "hp": { "type": "integer" },
              "mana": { "type": "integer" }
            }
          }
        }
      },
      "InnRestResponse": {
        "type": "object",
        "properties": {
          "rested": { "type": "boolean", "example": true },
          "type": { "type": "string", "example": "inn" },
          "location": { "type": "string" },
          "hp": { "type": "integer" },
          "maxHp": { "type": "integer" },
          "mana": { "type": "integer" },
          "maxMana": { "type": "integer" },
          "hpRestored": { "type": "integer" },
          "manaRestored": { "type": "integer" }
        }
      },
      "RestStatus": {
        "type": "object",
        "description": "Returns { resting: false, hp, maxHp, mana, maxMana } when not resting, or full rest progress when resting",
        "properties": {
          "resting": { "type": "boolean" },
          "type": { "type": "string", "description": "Present while resting" },
          "startedAt": { "type": "string", "format": "date-time", "description": "Present while resting" },
          "until": { "type": "string", "format": "date-time", "description": "Present while resting" },
          "elapsedSeconds": { "type": "number", "description": "Present while resting" },
          "totalDurationSeconds": { "type": "integer", "description": "Present while resting" },
          "currentHp": { "type": "integer", "description": "Present while resting" },
          "currentMana": { "type": "integer", "description": "Present while resting" },
          "hp": { "type": "integer", "description": "Present when not resting" },
          "maxHp": { "type": "integer" },
          "mana": { "type": "integer", "description": "Present when not resting" },
          "maxMana": { "type": "integer" },
          "recovered": {
            "type": "object",
            "description": "Present while resting",
            "properties": {
              "hp": { "type": "integer" },
              "mana": { "type": "integer" }
            }
          }
        }
      },
      "StopRestResponse": {
        "type": "object",
        "properties": {
          "stopped": { "type": "boolean" },
          "completed": { "type": "boolean" },
          "elapsedSeconds": { "type": "number" },
          "recovered": {
            "type": "object",
            "properties": {
              "hp": { "type": "integer" },
              "mana": { "type": "integer" }
            }
          },
          "hp": { "type": "integer" },
          "maxHp": { "type": "integer" },
          "mana": { "type": "integer" },
          "maxMana": { "type": "integer" }
        }
      },
      "ShopResponse": {
        "type": "object",
        "properties": {
          "townId": { "type": "string" },
          "shop": { "type": "string" },
          "description": { "type": "string" },
          "restockMinutes": { "type": "integer" },
          "gold": { "type": "integer", "description": "Player's current gold" },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" },
                "type": { "type": "string" },
                "rarity": { "type": "string" },
                "price": { "type": "integer" },
                "sellPrice": { "type": "integer" },
                "levelRequired": { "type": "integer" },
                "classRestriction": { "type": "string", "nullable": true },
                "weight": { "type": "string" },
                "stock": { "type": "integer" },
                "maxStock": { "type": "integer" }
              }
            }
          }
        }
      },
      "BuyItemRequest": {
        "type": "object",
        "required": ["itemId"],
        "properties": {
          "itemId": { "type": "string" },
          "quantity": { "type": "integer", "minimum": 1, "maximum": 99, "default": 1 }
        }
      },
      "BuyItemResponse": {
        "type": "object",
        "properties": {
          "bought": { "type": "string" },
          "quantity": { "type": "integer" },
          "totalCost": { "type": "integer" },
          "gold": { "type": "integer" },
          "message": { "type": "string" }
        }
      },
      "SellItemRequest": {
        "type": "object",
        "required": ["itemId"],
        "properties": {
          "itemId": { "type": "string" },
          "quantity": { "type": "integer", "minimum": 1, "maximum": 99, "default": 1 }
        }
      },
      "SellItemResponse": {
        "type": "object",
        "properties": {
          "sold": { "type": "string" },
          "quantity": { "type": "integer" },
          "unitPrice": { "type": "integer" },
          "totalPrice": { "type": "integer" },
          "gold": { "type": "integer" },
          "message": { "type": "string" }
        }
      },
      "AcceptQuestRequest": {
        "type": "object",
        "required": ["questId"],
        "properties": {
          "questId": { "type": "string" }
        }
      },
      "TurnInQuestRequest": {
        "type": "object",
        "required": ["questId"],
        "properties": {
          "questId": { "type": "string" }
        }
      },
      "AbandonQuestRequest": {
        "type": "object",
        "required": ["questId"],
        "properties": {
          "questId": { "type": "string" }
        }
      },
      "QuestObjective": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["kill", "fetch", "explore"] },
          "target": { "type": "string" },
          "quantity": { "type": "integer" },
          "description": { "type": "string" },
          "current": { "type": "integer", "description": "Present on active/completed quests" },
          "required": { "type": "integer", "description": "Present on active/completed quests" }
        }
      },
      "QuestRewards": {
        "type": "object",
        "properties": {
          "xp": { "type": "integer" },
          "gold": { "type": "integer" },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "itemId": { "type": "string" },
                "quantity": { "type": "integer" }
              }
            }
          }
        }
      },
      "AvailableQuestsResponse": {
        "type": "object",
        "properties": {
          "town": { "type": "string" },
          "quests": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" },
                "description": { "type": "string" },
                "levelMin": { "type": "integer" },
                "levelMax": { "type": "integer" },
                "objectives": { "type": "array", "items": { "$ref": "#/components/schemas/QuestObjective" } },
                "rewards": { "$ref": "#/components/schemas/QuestRewards" }
              }
            }
          }
        }
      },
      "ActiveQuestsResponse": {
        "type": "object",
        "properties": {
          "activeCount": { "type": "integer" },
          "maxActive": { "type": "integer" },
          "quests": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" },
                "description": { "type": "string" },
                "giverTown": { "type": "string" },
                "status": { "type": "string", "enum": ["active", "completed", "turned_in"] },
                "objectives": { "type": "array", "items": { "$ref": "#/components/schemas/QuestObjective" } },
                "rewards": { "$ref": "#/components/schemas/QuestRewards" },
                "acceptedAt": { "type": "string", "format": "date-time" },
                "completedAt": { "type": "string", "format": "date-time", "description": "Present when quest is completed" }
              }
            }
          }
        }
      },
      "AcceptQuestResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "quest": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "name": { "type": "string" },
              "description": { "type": "string" },
              "status": { "type": "string" },
              "objectives": { "type": "array", "items": { "$ref": "#/components/schemas/QuestObjective" } },
              "rewards": { "$ref": "#/components/schemas/QuestRewards" }
            }
          }
        }
      },
      "TurnInQuestResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "rewards": {
            "type": "object",
            "properties": {
              "xp": { "type": "integer" },
              "gold": { "type": "integer" },
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "itemId": { "type": "string" },
                    "quantity": { "type": "integer" },
                    "name": { "type": "string" }
                  }
                }
              },
              "leveledUp": { "type": "boolean" },
              "newLevel": { "type": "integer", "description": "Present if leveled up" },
              "newSpells": {
                "type": "array",
                "description": "Present if leveled up and learned spells",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "name": { "type": "string" },
                    "manaCost": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      },
      "AbandonQuestResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" }
        }
      },
      "EnterDungeonRequest": {
        "type": "object",
        "required": ["poiId"],
        "properties": {
          "poiId": { "type": "string", "description": "The POI ID of the dungeon entrance" }
        }
      },
      "DungeonRoom": {
        "type": "object",
        "properties": {
          "index": { "type": "integer" },
          "type": { "type": "string", "enum": ["combat", "treasure", "trap", "rest", "boss"] },
          "cleared": { "type": "boolean" },
          "log": { "type": "array", "items": { "type": "string" } }
        }
      },
      "DungeonStatus": {
        "type": "object",
        "description": "Returns { inDungeon: false } when not in a dungeon, or full dungeon state when inside",
        "properties": {
          "inDungeon": { "type": "boolean" },
          "dungeonId": { "type": "string" },
          "poiId": { "type": "string" },
          "poiName": { "type": "string" },
          "dungeonLevel": { "type": "integer" },
          "currentRoom": { "type": "integer" },
          "totalRooms": { "type": "integer" },
          "completed": { "type": "boolean" },
          "rooms": { "type": "array", "items": { "$ref": "#/components/schemas/DungeonRoom" } }
        }
      },
      "DungeonAdvanceCombat": {
        "type": "object",
        "description": "Combat or boss room — starts a fight",
        "properties": {
          "roomIndex": { "type": "integer" },
          "roomType": { "type": "string", "enum": ["combat", "boss"] },
          "status": { "type": "string", "example": "combat_started" },
          "message": { "type": "string" },
          "monster": {
            "type": "object",
            "properties": {
              "name": { "type": "string" },
              "level": { "type": "integer" },
              "hp": { "type": "integer" },
              "maxHp": { "type": "integer" },
              "type": { "type": "string" }
            }
          }
        }
      },
      "DungeonAdvanceTrap": {
        "type": "object",
        "description": "Trap room — resolves immediately",
        "properties": {
          "roomIndex": { "type": "integer" },
          "roomType": { "type": "string", "example": "trap" },
          "status": { "type": "string", "example": "cleared" },
          "trapType": { "type": "string" },
          "avoided": { "type": "boolean" },
          "log": { "type": "array", "items": { "type": "string" } }
        }
      },
      "DungeonAdvanceTreasure": {
        "type": "object",
        "description": "Treasure room — gold and loot",
        "properties": {
          "roomIndex": { "type": "integer" },
          "roomType": { "type": "string", "example": "treasure" },
          "status": { "type": "string", "example": "cleared" },
          "gold": { "type": "integer" },
          "loot": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "itemId": { "type": "string" },
                "quantity": { "type": "integer" }
              }
            }
          },
          "log": { "type": "array", "items": { "type": "string" } }
        }
      },
      "DungeonAdvanceRest": {
        "type": "object",
        "description": "Rest room — restores HP and mana",
        "properties": {
          "roomIndex": { "type": "integer" },
          "roomType": { "type": "string", "example": "rest" },
          "status": { "type": "string", "example": "cleared" },
          "hp": { "type": "integer" },
          "maxHp": { "type": "integer" },
          "mana": { "type": "integer" },
          "maxMana": { "type": "integer" },
          "recovered": {
            "type": "object",
            "properties": {
              "hp": { "type": "integer" },
              "mana": { "type": "integer" }
            }
          },
          "log": { "type": "array", "items": { "type": "string" } }
        }
      },
      "DungeonLeaveResponse": {
        "type": "object",
        "properties": {
          "left": { "type": "boolean" },
          "message": { "type": "string" },
          "position": { "$ref": "#/components/schemas/Coordinate" }
        }
      },
      "MapData": {
        "type": "object",
        "properties": {
          "width": { "type": "integer" },
          "height": { "type": "integer" },
          "terrain": {
            "type": "array",
            "description": "100x100 grid of terrain type strings",
            "items": { "type": "array", "items": { "type": "string" } }
          },
          "pois": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Discovery" }
          },
          "discoveries": {
            "type": "array",
            "description": "POIs the player has discovered (authenticated only)",
            "items": { "$ref": "#/components/schemas/Discovery" }
          }
        }
      },
      "Region": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "x1": { "type": "integer" },
          "y1": { "type": "integer" },
          "x2": { "type": "integer" },
          "y2": { "type": "integer" },
          "level": { "type": "integer" },
          "terrain": { "type": "string" }
        }
      },
      "CellResponse": {
        "type": "object",
        "properties": {
          "x": { "type": "integer" },
          "y": { "type": "integer" },
          "terrain": { "type": "string" },
          "poi": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": { "type": "string" },
              "name": { "type": "string" },
              "type": { "type": "string" },
              "category": { "type": "string" },
              "x": { "type": "integer" },
              "y": { "type": "integer" },
              "terrain": { "type": "string" },
              "description": { "type": "string" },
              "level_min": { "type": "integer" },
              "level_max": { "type": "integer" },
              "discoveredAt": { "type": "string", "format": "date-time", "description": "Present if player has discovered this POI" }
            }
          }
        }
      },
      "Item": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "type": { "type": "string" },
          "rarity": { "type": "string", "enum": ["common", "uncommon", "rare", "epic", "legendary"] },
          "damage_min": { "type": "integer" },
          "damage_max": { "type": "integer" },
          "armor": { "type": "integer" },
          "value": { "type": "integer" },
          "weight": { "type": "number" },
          "level_req": { "type": "integer" },
          "class_req": { "type": "string", "nullable": true },
          "statusEffect": { "type": "object", "nullable": true, "description": "Status effect applied on hit (weapons only)" },
          "statusChance": { "type": "number", "nullable": true, "description": "Chance to proc status effect (0-1)" }
        }
      },
      "Spell": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "class": { "type": "string" },
          "level_req": { "type": "integer" },
          "mana_cost": { "type": "integer" },
          "targetType": { "type": "string" },
          "effectType": { "type": "string" },
          "effectValue": { "type": "number" },
          "damageType": { "type": "string", "nullable": true },
          "cooldown": { "type": "integer" },
          "description": { "type": "string" },
          "statusEffect": { "type": "object", "nullable": true, "description": "Status effect applied on cast" }
        }
      },
      "Race": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "bonuses": { "type": "object" }
        }
      },
      "Class": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "hitDie": { "type": "integer" },
          "primaryStat": { "type": "string" }
        }
      },
      "GatheringSkillsResponse": {
        "type": "object",
        "properties": {
          "skills": {
            "type": "object",
            "properties": {
              "mining": {
                "type": "object",
                "properties": {
                  "level": { "type": "integer" },
                  "xp": { "type": "integer" },
                  "xpToNext": { "type": "integer", "nullable": true, "description": "Null at max level" }
                }
              },
              "herbalism": {
                "type": "object",
                "properties": {
                  "level": { "type": "integer" },
                  "xp": { "type": "integer" },
                  "xpToNext": { "type": "integer", "nullable": true }
                }
              },
              "woodcutting": {
                "type": "object",
                "properties": {
                  "level": { "type": "integer" },
                  "xp": { "type": "integer" },
                  "xpToNext": { "type": "integer", "nullable": true }
                }
              }
            }
          }
        }
      },
      "GatheringNodesResponse": {
        "type": "object",
        "properties": {
          "position": { "$ref": "#/components/schemas/Coordinate" },
          "nodes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "poiId": { "type": "string" },
                "name": { "type": "string" },
                "type": { "type": "string", "enum": ["mining_node", "herb_node", "woodcutting_node"] },
                "nodeId": { "type": "string" },
                "skill": { "type": "string", "enum": ["mining", "herbalism", "woodcutting"] },
                "minLevel": { "type": "integer" },
                "xpReward": { "type": "integer" },
                "cooldownMinutes": { "type": "integer" },
                "ready": { "type": "boolean" },
                "availableAt": { "type": "string", "format": "date-time", "nullable": true }
              }
            }
          }
        }
      },
      "HarvestRequest": {
        "type": "object",
        "required": ["nodeId"],
        "properties": {
          "nodeId": { "type": "string", "description": "The POI ID of the gathering node" }
        }
      },
      "HarvestResponse": {
        "type": "object",
        "properties": {
          "harvested": { "type": "string", "description": "Item name" },
          "itemId": { "type": "string" },
          "quantity": { "type": "integer" },
          "xpGained": { "type": "integer" },
          "skill": { "type": "string", "enum": ["mining", "herbalism", "woodcutting"] },
          "skillLevel": { "type": "integer" },
          "skillXp": { "type": "integer" },
          "cooldownMinutes": { "type": "integer" },
          "availableAt": { "type": "string", "format": "date-time" },
          "levelUp": {
            "type": "object",
            "description": "Present if the gathering skill leveled up",
            "properties": {
              "newLevel": { "type": "integer" },
              "skill": { "type": "string" }
            }
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid Bearer token",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": { "statusCode": 401, "message": "Unauthorized" }
          }
        }
      },
      "BadRequest": {
        "description": "Invalid request body or parameters",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Conflict": {
        "description": "Action not allowed in current state",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": { "statusCode": 429, "message": "ThrottlerException: Too Many Requests" }
          }
        }
      }
    }
  },
  "security": [
    { "BearerAuth": [] }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "tags": ["Auth"],
        "summary": "Register a new account",
        "description": "Create a new user account. A confirmation email will be sent.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RegisterRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created — check email for confirmation",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RegisterResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "409": { "description": "Email already registered", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "Log in",
        "description": "Authenticate with email and password. Returns a JWT access token.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LoginRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LoginResponse" } } }
          },
          "401": { "description": "Invalid credentials", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": ["Auth"],
        "summary": "Get current user profile",
        "responses": {
          "200": {
            "description": "User profile",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserProfile" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/characters": {
      "post": {
        "tags": ["Characters"],
        "summary": "Create a new character",
        "description": "Create a character with a name, race, class, and point-buy ability scores. Each account can have one character. Ability scores must be between 8 and 15, and the total cost must equal 27 points using the D&D 5e point-buy table.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateCharacterRequest" }
            }
          }
        },
        "responses": {
          "201": { "description": "Character created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CharacterCreated" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "description": "Character already exists", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/characters/me": {
      "get": {
        "tags": ["Characters"],
        "summary": "Get your character",
        "description": "Returns the authenticated player's character with all stats, position, equipment, spells, and travel status. If currently traveling, travel is auto-resolved and may include discoveries, XP, and encounters.",
        "responses": {
          "200": { "description": "Character data", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Character" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "description": "No character found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/characters/allocate-stat": {
      "post": {
        "tags": ["Characters"],
        "summary": "Allocate a stat point",
        "description": "Spend one unspent stat point to increase an ability score by 1. Points are earned on level up. If constitution is allocated, maxHp and hp are included. If intelligence is allocated, maxMana and mana are included.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AllocateStatRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Stat allocated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AllocateStatResponse" } } } },
          "400": { "description": "No unspent points available", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/travel/move": {
      "post": {
        "tags": ["Travel"],
        "summary": "Move one cell",
        "description": "Step one cell in a cardinal direction. Starts a short travel to the adjacent cell.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MoveRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Move started", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MoveResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/travel/go": {
      "post": {
        "tags": ["Travel"],
        "summary": "Travel to coordinates",
        "description": "Start A* pathfinding travel to a target cell. Travel takes real time based on terrain cost. Check status to track progress. May trigger encounters en route.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TravelRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Travel started", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TravelGoResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/travel/status": {
      "get": {
        "tags": ["Travel"],
        "summary": "Get travel status",
        "description": "Check current travel progress. If travel has completed, returns the final position along with any discoveries, XP gained, and encounters triggered.",
        "responses": {
          "200": { "description": "Travel status", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TravelStatus" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/travel/cancel": {
      "post": {
        "tags": ["Travel"],
        "summary": "Cancel active travel",
        "description": "Stop traveling and remain at the last resolved position along the route. Discoveries and XP from traversed cells are kept.",
        "responses": {
          "200": { "description": "Travel cancelled", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TravelCancelResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "description": "Not currently traveling", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/map": {
      "get": {
        "tags": ["Map"],
        "summary": "Get world map",
        "description": "Returns the full 100x100 terrain grid, all points of interest, and the player's discovered POIs (if authenticated).",
        "security": [],
        "responses": {
          "200": { "description": "Map data", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MapData" } } } }
        }
      }
    },
    "/map/regions": {
      "get": {
        "tags": ["Map"],
        "summary": "Get all regions",
        "description": "Returns named regions with their boundaries, terrain types, and suggested level ranges.",
        "security": [],
        "responses": {
          "200": {
            "description": "Region list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "regions": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Region" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/map/cell/{x}/{y}": {
      "get": {
        "tags": ["Map"],
        "summary": "Get cell details",
        "description": "Returns detailed information about a specific cell including terrain and any POI at that location.",
        "security": [],
        "parameters": [
          { "name": "x", "in": "path", "required": true, "schema": { "type": "integer", "minimum": 0, "maximum": 99 } },
          { "name": "y", "in": "path", "required": true, "schema": { "type": "integer", "minimum": 0, "maximum": 99 } }
        ],
        "responses": {
          "200": { "description": "Cell details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CellResponse" } } } },
          "400": { "description": "Coordinates out of range", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/combat/status": {
      "get": {
        "tags": ["Combat"],
        "summary": "Get combat status",
        "description": "Returns current combat state including monster info, player HP/mana, active status effects on both sides, and the combat log. Returns `{ inCombat: false }` if not in combat.",
        "responses": {
          "200": { "description": "Combat state", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CombatStatus" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/combat/action": {
      "post": {
        "tags": ["Combat"],
        "summary": "Perform a combat action",
        "description": "Execute a combat action. Your turn resolves first (affected by status effects like stun, silence, blind), then the monster attacks. Status effects (DoTs, regen, stun) process at turn start. Possible outcomes: ongoing, victory, defeat, fled.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CombatActionRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Action result", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CombatResult" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "description": "Not in combat", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/inventory": {
      "get": {
        "tags": ["Inventory"],
        "summary": "Get inventory",
        "description": "Returns the player's full inventory including equipment slots, backpack items, carry weight, and capacity.",
        "responses": {
          "200": { "description": "Inventory data", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InventoryResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/inventory/pick-up": {
      "post": {
        "tags": ["Inventory"],
        "summary": "Pick up an item",
        "description": "Add an item to your backpack. Checks carry weight limits.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PickUpItemRequest" } } }
        },
        "responses": {
          "200": { "description": "Item picked up", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PickUpItemResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/inventory/drop": {
      "post": {
        "tags": ["Inventory"],
        "summary": "Drop an item",
        "description": "Remove an item from your backpack.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DropItemRequest" } } }
        },
        "responses": {
          "200": { "description": "Item dropped", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DropItemResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/inventory/equip": {
      "post": {
        "tags": ["Inventory"],
        "summary": "Equip an item",
        "description": "Equip an item from your backpack to an equipment slot. Slot is auto-detected from item type if not specified. Cannot equip during combat.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EquipItemRequest" } } }
        },
        "responses": {
          "200": { "description": "Item equipped", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EquipItemResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/inventory/unequip": {
      "post": {
        "tags": ["Inventory"],
        "summary": "Unequip a slot",
        "description": "Unequip an item from the specified equipment slot back to the backpack. Cannot unequip during combat.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UnequipItemRequest" } } }
        },
        "responses": {
          "200": { "description": "Item unequipped", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UnequipItemResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/inventory/use": {
      "post": {
        "tags": ["Inventory"],
        "summary": "Use a consumable item",
        "description": "Use a consumable item from your backpack (e.g., health potion, mana potion). Costs a combat turn if in combat.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UseItemRequest" } } }
        },
        "responses": {
          "200": { "description": "Item used", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UseItemResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/spells": {
      "get": {
        "tags": ["Spells"],
        "summary": "Get spellbook",
        "description": "Returns the player's learned spells with current mana.",
        "responses": {
          "200": { "description": "Spellbook", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SpellbookResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/spells/learn": {
      "post": {
        "tags": ["Spells"],
        "summary": "Learn a spell",
        "description": "Learn a new spell. Must meet the class and level requirements.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LearnSpellRequest" } } }
        },
        "responses": {
          "200": { "description": "Spell learned", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LearnSpellResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "description": "Already learned or requirements not met", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/spells/cast": {
      "post": {
        "tags": ["Spells"],
        "summary": "Cast a spell (outside combat)",
        "description": "Cast a healing or buff spell outside of combat. Damage spells can only be used during combat via the combat action endpoint.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CastSpellRequest" } } }
        },
        "responses": {
          "200": { "description": "Spell cast", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CastSpellResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/rest/camp": {
      "post": {
        "tags": ["Rest"],
        "summary": "Start camping",
        "description": "Begin camping in the wilderness to restore HP and mana over time. Optional duration in seconds (10-600). Cannot camp while in combat, traveling, or already resting.",
        "requestBody": {
          "required": false,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StartCampRequest" } } }
        },
        "responses": {
          "200": { "description": "Camping started", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StartCampResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/rest/inn": {
      "post": {
        "tags": ["Rest"],
        "summary": "Rest at an inn",
        "description": "Rest at a town inn to fully restore HP and mana. Must be at a town. Costs gold.",
        "responses": {
          "200": { "description": "Rested at inn — HP and mana restored", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InnRestResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "description": "Not at a town or insufficient gold", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/rest/status": {
      "get": {
        "tags": ["Rest"],
        "summary": "Get rest status",
        "description": "Check if currently resting and how much time remains. Returns HP/mana status when not resting.",
        "responses": {
          "200": { "description": "Rest status", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RestStatus" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/rest/stop": {
      "post": {
        "tags": ["Rest"],
        "summary": "Stop resting",
        "description": "Cancel an active rest session early. You keep any HP/mana restored so far.",
        "responses": {
          "200": { "description": "Rest stopped", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StopRestResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "description": "Not currently resting", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/shops/{townId}": {
      "get": {
        "tags": ["Shops"],
        "summary": "Get shop inventory",
        "description": "View the shop inventory at a specific town. Stock refreshes periodically. Must be at the town to buy/sell.",
        "parameters": [
          { "name": "townId", "in": "path", "required": true, "schema": { "type": "string" }, "example": "thornhaven" }
        ],
        "responses": {
          "200": { "description": "Shop inventory", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ShopResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "description": "Town not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/shops/{townId}/buy": {
      "post": {
        "tags": ["Shops"],
        "summary": "Buy an item",
        "description": "Purchase an item from a town shop. Deducts gold and adds item to backpack. Must be at the town.",
        "parameters": [
          { "name": "townId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BuyItemRequest" } } }
        },
        "responses": {
          "200": { "description": "Item purchased", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BuyItemResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "description": "Insufficient gold or not at town", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/shops/{townId}/sell": {
      "post": {
        "tags": ["Shops"],
        "summary": "Sell an item",
        "description": "Sell an item from your backpack to a town shop. Receive gold (sell price is lower than buy price). Must be at the town.",
        "parameters": [
          { "name": "townId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SellItemRequest" } } }
        },
        "responses": {
          "200": { "description": "Item sold", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SellItemResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "description": "Item not in backpack or not at town", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/quests/available": {
      "get": {
        "tags": ["Quests"],
        "summary": "Get available quests",
        "description": "Returns quests available at your current town. Quests are level-gated and some require completing prerequisite quests. Already-completed and active quests are excluded.",
        "responses": {
          "200": { "description": "Available quests", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AvailableQuestsResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/quests/active": {
      "get": {
        "tags": ["Quests"],
        "summary": "Get active quests",
        "description": "Returns all quests currently in progress with objective tracking (current/required counts).",
        "responses": {
          "200": { "description": "Active quests with progress", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ActiveQuestsResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/quests/accept": {
      "post": {
        "tags": ["Quests"],
        "summary": "Accept a quest",
        "description": "Accept a quest from the available list. Maximum 5 active quests at a time. Fetch quest progress is pre-filled if you already have the required items.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AcceptQuestRequest" } } }
        },
        "responses": {
          "200": { "description": "Quest accepted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AcceptQuestResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "description": "Quest limit reached or quest not available", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/quests/turn-in": {
      "post": {
        "tags": ["Quests"],
        "summary": "Turn in a completed quest",
        "description": "Turn in a quest with all objectives complete. Grants XP, gold, and item rewards. Fetch quest items are consumed on turn-in.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TurnInQuestRequest" } } }
        },
        "responses": {
          "200": { "description": "Quest turned in — rewards granted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TurnInQuestResponse" } } } },
          "400": { "description": "Objectives not complete", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/quests/abandon": {
      "post": {
        "tags": ["Quests"],
        "summary": "Abandon a quest",
        "description": "Abandon an active quest. Progress is lost. The quest can be re-accepted later.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AbandonQuestRequest" } } }
        },
        "responses": {
          "200": { "description": "Quest abandoned", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AbandonQuestResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "description": "Quest not active", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/dungeons/status": {
      "get": {
        "tags": ["Dungeons"],
        "summary": "Get dungeon status",
        "description": "Check if you're in a dungeon and get current progress including all rooms. Returns `{ inDungeon: false }` if not in a dungeon.",
        "responses": {
          "200": { "description": "Dungeon status", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DungeonStatus" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/dungeons/enter": {
      "post": {
        "tags": ["Dungeons"],
        "summary": "Enter a dungeon",
        "description": "Enter a dungeon at a POI location. The dungeon generates random rooms (combat, treasure, trap, rest) with a boss at the end. 24-hour cooldown after completion.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EnterDungeonRequest" } } }
        },
        "responses": {
          "200": { "description": "Dungeon entered — rooms generated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DungeonStatus" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "description": "Not at a dungeon POI, already in dungeon, or cooldown active", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/dungeons/advance": {
      "post": {
        "tags": ["Dungeons"],
        "summary": "Advance to next room",
        "description": "Move to the next dungeon room. Non-combat rooms (trap, treasure, rest) resolve immediately. Combat and boss rooms start a fight — use `POST /api/combat/action` to battle. Response shape varies by room type.",
        "responses": {
          "200": {
            "description": "Room result — varies by room type (combat, trap, treasure, rest)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/DungeonAdvanceCombat" },
                    { "$ref": "#/components/schemas/DungeonAdvanceTrap" },
                    { "$ref": "#/components/schemas/DungeonAdvanceTreasure" },
                    { "$ref": "#/components/schemas/DungeonAdvanceRest" }
                  ]
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "description": "Not in dungeon, in combat, or dungeon completed", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/dungeons/leave": {
      "post": {
        "tags": ["Dungeons"],
        "summary": "Leave dungeon",
        "description": "Leave the dungeon. Progress is saved — you can re-enter later to continue from where you left off (unless completed, which triggers cooldown).",
        "responses": {
          "200": { "description": "Left dungeon", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DungeonLeaveResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "description": "Not in dungeon", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/gathering/skills": {
      "get": {
        "tags": ["Gathering"],
        "summary": "Get gathering skill levels",
        "description": "View your three gathering skill levels (Mining, Herbalism, Woodcutting) and XP progress toward the next level.",
        "responses": {
          "200": { "description": "Gathering skills", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GatheringSkillsResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/gathering/nodes": {
      "get": {
        "tags": ["Gathering"],
        "summary": "Get nearby gathering nodes",
        "description": "List gathering nodes at your current position with cooldown status and skill requirements.",
        "responses": {
          "200": { "description": "Nearby nodes", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GatheringNodesResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/gathering/harvest": {
      "post": {
        "tags": ["Gathering"],
        "summary": "Harvest from a node",
        "description": "Harvest resources from a gathering node. Must be at the node's coordinates, not in combat/traveling/resting/dungeon, and have the required gathering skill level. The node goes on cooldown after harvesting (5-15 minutes based on tier).",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HarvestRequest" } } }
        },
        "responses": {
          "200": { "description": "Harvest successful", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HarvestResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/game/races": {
      "get": {
        "tags": ["Game Data"],
        "summary": "Get all races",
        "description": "Returns all playable races with their stat bonuses and descriptions.",
        "security": [],
        "responses": {
          "200": { "description": "Race list", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Race" } } } } }
        }
      }
    },
    "/game/classes": {
      "get": {
        "tags": ["Game Data"],
        "summary": "Get all classes",
        "description": "Returns all playable classes with their hit dice, primary stats, and descriptions.",
        "security": [],
        "responses": {
          "200": { "description": "Class list", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Class" } } } } }
        }
      }
    },
    "/game/items": {
      "get": {
        "tags": ["Game Data"],
        "summary": "Get all items",
        "description": "Returns the complete item database including weapons, armor, and consumables with stats, requirements, and status effect data.",
        "security": [],
        "responses": {
          "200": { "description": "Item list", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Item" } } } } }
        }
      }
    },
    "/game/spells": {
      "get": {
        "tags": ["Game Data"],
        "summary": "Get all spells",
        "description": "Returns the complete spell database with class requirements, mana costs, effects, and status effect data.",
        "security": [],
        "responses": {
          "200": { "description": "Spell list", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Spell" } } } } }
        }
      }
    }
  }
}
